.h3Menu {
  color: white;
}

.colMenu {
  background-color: #40957f;
  border-radius: 0.1rem 0.3rem 0.3rem 0.1rem;
}

.colImageThumbnail {
  border-radius: 0.2rem 0.2rem 0.2rem 0.5rem;
  overflow: scroll;
  background-color: #3d6868;
}

.colContainerImageThumbnail {
  background-color: #40957f;
  border-radius: 0.3rem 0.1rem 0.1rem 0.3rem;
}

.colSliderImage {
  box-shadow: 0 0 0.5rem 0.1rem #274141;
  overflow: hidden;
  border-radius: 0.1rem;
}

.colContainerMenu {
  border-radius: 0.2rem 0.2rem 0.2rem 0.5rem;
  background-color: #3d6868;
  text-align: center;
  overflow: scroll;
  > h3 {
    padding: 0.3rem;
    background-color: #3c515d;
    border: solid 0.1rem #a7c686;
    border-radius: 0.1rem 0.1rem 0.1rem 0.5rem;
  }
}

.colContainerSliderImage {
  background-color: #3d6868;
  border-radius: 0.2rem;
}

.colImageThumbnail::-webkit-scrollbar-thumb {
  background-color: #d9e7ca;
  border-radius: 0.2rem;
  transition: 1s;
  box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
}

.colImageThumbnail::-webkit-scrollbar {
  width: 1vw;
  height: 0rem;

  transition: 1s;
}

.colContainerMenu::-webkit-scrollbar-thumb {
  background-color: #d9e7ca;
  border-radius: 0.2rem;
  transition: 1s;
  box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
}

.colContainerMenu::-webkit-scrollbar {
  width: 1vw;
  height: 0rem;

  transition: 1s;
}
