.ModalLoading {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.932);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    padding: 2rem;
    border-radius: 50%;
    background-color: rgb(44, 42, 42);

    > img {
      animation-name: loadingAnimation;
      animation-timing-function: linear;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      transform-origin: center;
    }
  }
}

@keyframes loadingAnimation {
  100% {
    transform: rotate(360deg);
  }
}
